<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Private Profile') %>
<%# console.log(entries) %>

<div class="home-wrapper">
  <div class="home-main">
  <div class="blue-bar"><h1>This is a private user profile view</h1></div>
  <img src="<%= entries[0].avatar_url %>">
  <p>
    <a href="/private/users/<%= entries[0].user_id %>/new">Create New Blog Entry</a>
  </p>
  <% console.log('User entries:', entries) %>
  <% if (entries.length > 0) { entries.forEach(entries => { %>
      <div class = "entries">
        <p>
          <a href="/private/entries/<%= entries.id %>">
            Title: <%= entries.title %><br>
            Location: <%= entries.location %><br>
            Date: <%= entries.date_created %><br>
          </a>
        </p>
      </div>
    <% })} %>
    <a href="/private/users/<%= entries[0].user_id %>/edit">
      <input type="button" value="Edit User">
    </a>
    <form method='POST' action="/private/users/<%= entries[0].user_id %>?_method=DELETE">
      <input type="Submit" value="Delete Account">
    </form>
  </div>
</div>

<% include ../../partials/end %>
