<% console.log('View Rendered: Partial - Edit User Info Form') %>

<div class="form edit-user">
  <form action="/private/users/<%= user.id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= user.name %>" /><br>
    <input type="text" name="username" value="<%= user.username %>" /><br>
    <input type="text" name="email" value="<%= user.email %>" /><br>
    <input type="text" name="password" value="<%= user.password %>" /><br>
    <input type="text" name="avatar_url" value="<%= user.avatar_url %>" /><br><br>
    <input type="submit" value="Update Account Information" />
  </form><br>
  <a href="/private/users/<%= user.id %>">Back to User Profile</a>
</div>
