<% include ../../partials/boilerplate %>

<h1>This Is A Public User Profile</h1>
    <div class = "user">

        <p>"<%= user[0].username %>"</p>
        <p>"<%= user[0].email %>"</p>
        <p><img src="<%= user[0].avatar_url %>"></p>

        <a href="/public/users/<%= user[0].id %>/edit">Edit User</a>
    </div>
    <form method='POST' action="/public/users/<%= user[0].id %>?_method=DELETE">
      <input type="Submit" value="Delete Account">
    </form>

<% include ../../partials/end %>
