<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Public Entry') %>

  <h1><%= user.title  %><br></h1>
  <div class="main">
      <div class="entry">
        <!-- Testing Only:<br> -->
        <!-- User Id: <%= user.user_id %><br> -->
        <!-- Blog Entry Id: <%= user.entry_id %><br> -->
          <p>
            Date: <%= user.date_created %><br>
            Location: <%= user.location %><br>
            <p><%= user.content %></p>

          </p>

          <%# Back to User Profile %>
          <p>
          <a href="/public/users/<%= user.user_id %>">Back to User Profile</a>
          </p>
      </div>
</div>

<% include ../../partials/end %>
