<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Public Entry') %>

  <h1><%= entry.title  %><br></h1>
  <div class="main">

      <div class="entry">
     <div class="entry-content">
        <p>

          Date: <%= entry.date_created %><br>
          Location: <%= entry.location %><br>
          <p>
            <%= entry.content %><br>
          </p>
        </p>
        <img src="<%= entry.image_url%>">
        <div class="user-options">

          <%# Back to User Profile %>
          <p>
            <span>
              <a href="/public/users/<%= entry.user_id %>">Back to User Profile</a>
            </span>
          </p>
        </div>
      </div>
        <!-- Testing Only:<br> -->
        <!-- User Id: <%= entry.user_id %><br> -->
        <!-- Blog Entry Id: <%= entry.entry_id %><br> -->


      </div>
</div>

<% include ../../partials/end %>
